*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 40px;
    background: url(images/developer.png), url(images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

/*nav starts here*/

nav{
    width: 70%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}
nav .logo{
    font-size: 40px;
    font-weight: bold;
}
nav .color{
    color: orange;
}
nav .link{
    display: flex;
    gap:50px;
    list-style: none;
    align-items: center;
}
nav .link a{
    text-decoration: none;
    color: #474747;
    font-size: 18pxpx;
}

/*nav ends here*/

/*banner starts here*/

#banner{
    margin: 40px 38px 0px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 600px;
}
#banner .banner-content h2{
    font-size: 20px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 40px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 15px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-img img{
    max-width: 550px;
    height: 500px;
    vertical-align: middle;
}
/*banner ends here*/

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/*about starts here*/

#about{
    padding: 50px;
}
#about .about-content{
    width:80%;
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 50px 80px;
    border-radius: 10px;
}
.about-content .about-heading h2{
    margin-bottom: 25px;
}
.about-content .about-heading p{
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 30px;
    color: #757575;
}
#about .about-content .about-info{
    display: flex;
    justify-content: space-between;
}
.about-info .info-card p{
    font-size: 15px;
    color: #757575;
    line-height: 25px;
}
.about-info .info-card h4{
    font-size: 15px;
}
/*about ends here*/

/* skill starts here*/

#skill{
    margin-top: 50px;
}
#skill .skill-content{
    width:75%;
    max-width: 1120px;
    margin: 0 auto;
}
#skill .skill-content .skill-heading{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
#skill .skill-content .skill-heading h2{
    margin-bottom: 25px;
    font-weight: bold
}
#skill .skill-content .skill-heading p{
    font-size: 15px;
    color: #757575;
    line-height: 25px;
    margin-bottom: 40px;
}
.skill-boxs{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.skill-boxs .skill-card{
    background-color: #FFF8F3;
    padding: 15px;
    max-width: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #FFF8F3
}
.skill-boxs .skill-card img{
    margin-bottom: 20px;
    height: 30px;
}
.skill-boxs .skill-card h3{
    margin-bottom: 20px;
    font-size: 17px;
    color: #181818;
}
.skill-boxs .skill-card p{
    font-size: 12px;
    color: #757575;
    line-height: 20px;
}
/*skill ends here*/

/*resume starts here*/
   
 #resume .resume-heading h2{
    padding-top: 70px; 
    text-align: center;

}
#resume .resume-content{
    width: 70%;
    max-width: 1120px;
    margin: 50px auto 0px;
    display: flex;
    gap: 20px;
}
#resume .resume-content .resume-title{
    font-size: 15px;
    margin-bottom: 18px;
}
.resume-card p{
    font-size: 12px;
    color: #757575;
    margin: 20px 0px 20px;
}
.resume-card h5{
    margin-top: 20px;
}
.resume-btn{
    text-align: center;
    margin: 30px;
}
/*resume ends here*/

/*footer starts here*/

#footer-section{
    background-color: #FFF8F3;
    height: 450px;
}
.footer-content{
    width: 70%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-content .social h3{
    padding: 60px 0px 20px;
}
.footer-content .social p{
    font-size: 12px;
    color: #757575;
    line-height: 20px;
    max-width: 450px;
}
.footer-content .icon img{
    margin-right: 20px;
    margin-top: 20px;
}
.footer-content .form .head{
    padding-top: 60px;
    margin-bottom: 15px;
}

.footer-content .form input[type="text"], .footer-content .form textarea{
    width: 260px;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
    

/*footer ends here/